.evolution__svg-container {
    width: 100vw;
    height: 500px;
    .svg__content--1 {
        background-image: url('../images/banquise_été_1.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        background-size: 175%;
        width: 100vw;
        height: 470px;
    }
}