.evolution {
  position: relative;
}

.evolution__svg-container {
    width: 100vw;
    height: 550px;
    .svg__content--1 {
        background-image: url('../images/banquise-mob.png');
        background-repeat: no-repeat;
        background-position: 50% 0%;
        width: 100vw;
        height: 575px;
        @include medium {
          background-image: url('../images/banquise-desk.png');
          height: 1000px;
        }
    }
    @include medium {height: 1000px;}
}

.evolution__caption {
    margin-top: -125px;
    margin-bottom: 80px;
    position: relative;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        width: 190px;
        height: 90px;
        background-color: #5f545a;
        border-radius: 10px;
        opacity: 0.6;
        top: 0;
        left: 0;
        z-index: -1;
    }
    @include medium {
      margin-top: -250px;
      margin-bottom: 280px;
      margin-left: 150px;
    }
}

.caption__content {
    font-size: 14px;
    padding: 5px 35px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      background-color: #fefefe;
      width: 15px;
      height: 10px;
      border-radius: 3px;
      left: 11px;
      top: 8px;
      @include medium {
        width: 25px;
        height: 15px;
        left: 0;
        top: 13px;
      }
    }
    &.caption__content--2::after {
      background-color: #8bd5d6;
    }
    &.caption__content--3::after {
      background-color: #a56b72;
    }
    @include medium {font-size: 24px;}
}