.graph {
    @include medium {
        display: flex;
        justify-content: space-between;
        order: 1;
        width: 80vw;
        margin: 50px auto;
    }
}

.graph__img {
    width: 80vw;
    margin: 0 auto 40px;
    display: block;
    @include medium {
        margin: 50px 0 0;
        width: auto;
        height: 400px;
        order: 2;
    }
}

.graph__text-container {
    order: 1;
}





