.home {
    background-image: url('../images/home-mobile-bg.jpg');
    color: #fefefe;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium { 
        background-color: $bleu;
        background-image: none;
    }
}