#mq-medium {
    display: none;
    width: 100vw;
    @include medium { 
        display: block;
    }
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -10;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    @include small { 
        display: none;
    }
}

.intro, .form, .social {
    z-index: 10;
}
.home {
    // background-image: url('../images/home-mobile-bg.jpg');
    // background-size: cover;
    color: #fefefe;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include medium { 
        background-color: $bleu;
        background-image: url('../images/home-desktop-bg.jpg');
        background-size: cover;
    }
    perspective: 800px;
}

.intro {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 500px;
    transition: all .2s ease-in;
    @include medium { 
        z-index: 1;
        position: relative;
        &:after{
            content:'';
            position: absolute;
            right: 0;
            left: 0;
            z-index: -1;
            margin-right: auto;
            margin-left: auto;
            margin-top: 50px;
            width: 350px;
            height: 480px;
            background-color: rgba(0,0,0,0.42);
            border-radius: 8px;
        }
    }
}

.intro__content {
    margin-top: 115px;
    .intro__datelimit {
       font-size: 3em;
        font-weight: 700;
        margin:0;
    }
    .intro__title {
        font-size: 1.73em;
        text-transform: uppercase;
        font-weight: 200;
        width: 80vw;
        margin: 10px auto 0;
    }
}

.intro__action {
    display: flex;
    justify-content: space-around;
    margin: 50px 0px;
    .action__button {
        width: 150px;
    }
    .action__text {
        font-weight: 200;
        a {
            text-decoration: none;
            color: #fefefe;
        }
    }
}

.action__button {
    transition: transform .3s ease;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.intro__more {
    margin-left: 60px;
    transition: transform .3s ease;
    a {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        text-decoration: none;
        color: #fefefe;
        font-size: 1.2em;
        font-weight: 200;
        margin: 0 20px;
        img {
            margin-left: 20px;
        }
    }
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    } 
    @include medium {
        margin-left: 70px;
    }
}