/*---------------------- TITLES + TEXTES */
.container__title {
    color: $bleu-text;
    text-align: center;
    margin: 40px auto;
    width: 70vw;
    font-weight: 400;
    @include medium {
        font-size: 34px;
    }
}

.text-container {
    width: 87vw;
    font-size: 14px;
    margin: auto;
    text-align: justify;
    @include medium {
        padding: 0 50px 0 0;
        width: 60vw;
        font-size: 23px;
    }
    span {
        color: $bleu;
        font-weight: 400;
    }

}

h1.title__desktop{
    display: none;
    @include medium {
        display: flex;
        justify-content: center;
       
        font-weight: 400;
        margin-top: -50px;
        font-size: 2.7em;
    }
}