.threats__liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;   
}

.threat__content {
    width: 40vw;
    text-align: center;
    height: 120px;
    .animal__info {padding-top: 60px}
}

.threat__title {
    margin-top: -25px;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
}