/*------ COLORS ------*/
$grey-bg: #eddfc5;
$bleu: #1dabac;
$bleu-text: #18979a;

/*------ MEDIA QUERIES ------*/
@mixin small {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin medium {
    @media (min-width: 770px) {
        @content;
    }
}
@mixin large {
    @media (min-width: 1024px) {
        @content;
    } 
}